{% extends 'base.html.twig' %}

{% block title %}LiveBlog{% endblock %}

{% block body %}
<div class="example-wrapper">
    Приветствуем вас на LiveBlog. Это место, где каждый из вас может найти контент по душе,
    узнать для себя что-то новое или просто приятно провести время. LiveBlog старается стать лучшим вашим другом
    в мире новостей из интернета. Благодарим вас за оказанное доверие и активную обратную связь!
</div>
{% endblock %}
